<script>
  export default {
  }
</script>

<template>
  <div>
    <div class="row">
      <div class="medium-6 medium-offset-3 columns">
        <p>
        </p>
      </div>
    </div>
  </div>
</template>
