<script>
  export default {
  }
</script>

<template>
  <div>
    <!-- TODO: find a better place to allocate the codes -->
    <div id="container">
      <div id="cluster-container">
        <!-- "cl" = cluster -->
        <div id="cl-ctrl-conatiner">
          <button id="cl-dropdown1"/>
            <button id="cl-dropdown2"/>
        </div>
        <div id="cl-graph-container">
          <!-- do your d3 magic here! -->
        </div>
        <div id="cl-time-container">
        </div>
      </div>
      <!-- this view will be shown after a node is clicked -->
      <div id="network-container">
        <!-- nw = network -->
        <div id="nw-graph-container">
          <!-- do your d3 magic here! -->
        </div>
      </div>

      <!-- this view will be shown after a relation is clicked -->
      <div id="relation-container">
        <!-- rl = relation -->
        <div id="rl-graph-container">
          <!-- do your d3 magic here-->
        </div>
      </div>
    </div>
  </div>
</template>
