<script>
//import anvue from '../components/Analysis.vue';
import * as myright from '../customjs/right-panel.js'

  export default {
    name: "Navbar",
    components: {
      //anvue
    },
    mounted: function ()
    {   // the things you want to perform when the page is shown
    },
    methods: {
      redraw: function ()
      {
          console.log('nvredraw');
          myright.myfunc.jsredraw();
          //anvue.anredraw();
      }
    }
  }

</script>

<template>
  <div>
    <div class="top-bar">
      <div class="menu-text"><i class="fab fa-facebook-f pd-left-15px pd-right-15px facebook-light"></i>Social Analysis</div>
      <div class="top-bar-left">
        <ul id="navlink-list" class="dropdown menu" data-dropdown-menu>
          <li><router-link to="cluster">Cluster</router-link></li>
          <li v-on:click="redraw"><router-link to="analysis" >Analysis</router-link></li>
          <li><router-link to="about"><i class="fas fa-info-circle"></i></router-link></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">

        </ul>
      </div>
    </div>
  </div>
</template>
