// stylesheet for Analysis page

/* style for left panel ---------------------------------------- */
#an-left-panel {
  // position: fixed;
  z-index: 100;
  // left: $r0px;
  // top: $r0px;
  // height: $dft-range;
  // width: $p30;

  // background: $white;
  background: $black-0p5;

  padding-top: $r20px;
  // padding-left: $dft-cont-padding;
  // padding-right: $dft-cont-padding;

  border-right: $black_0p8 $dft-border-width solid;

  overflow: auto;
  height: 100%;
}
.line {
  fill:none;
  stroke: steelblue;
  stroke-width: 2px;
}

.area{

}

.an-fliter {
  // border-bottom: $black_0p8 $dft-outline-width solid;
  // border-radius: $dft-border-radius;

  width: $p100;
  min-height: $r100px;

  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: $dft-margin-space;

  padding: $dft-cont-padding;
}
.an-fliter-heading {
  font-weight: bold;
  color: $black_0p8;

  font-size: $dft-comp-heading-txt-size;
  width: $p100;
  display: inline-block;
}

.an-clear {
  font-weight: 600 !important;
  font-size: 1em;
  width: $r80px;
  display: inline-block;

  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.an-clear:hover {
  color: $white;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.an-left-heading {
  color: $black_0p8;
  font-weight: bold;
  font-size: $dft-heading-txt-size;

  padding: $dft-cont-padding;
}
.an-left-desc {
  padding-left: $dft-cont-padding;
  padding-right: $dft-cont-padding;

  color: $black_0p8;
  font-weight: bold !important;
}

.an-cond-btn {
  background: $facebook !important;
  font-weight: bold !important;

  outline: none;
}
.an-cond-btn:focus { outline:0; }
.custom-control-label {
  font-weight: bold !important;
}

.an-btn-list {
  position: relative;
  bottom: $r0px;
  width: $p100;

  padding: $dft-cont-padding;

  text-align: center;
  background: $black_0p8;
}

/* ---------------------------------------- style for left panel */
.an-filter-time {
}

/* style for right panel --------------------------------------- */
#an-right-panel {
  // position: fixed;
  // top: $r0px;
  // height: $dft-range;
  // width: $dft-range;

  padding-top: $r20px;
  overflow-y: scroll;

  // background: $blue;

  z-index: -1;

  border: $red $dft-border-width solid;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* --------------------------------------- style for right panel */
.rect-text {
    pointer-events: none;
}

/* style for hidden panel -------------------------------------- */
#an-hidden-panel {
  display: none;
  background:  rgba(0, 0, 0, .8);

  width: $p100;
  height: $p100;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#m-end path, #m-start{
  fill: rgba(255,255,255, 0.9);
}
.node-label{
  color: purple;
}
/* -------------------------------------- style for hidden panel */
