/** IMPORTS **/
@import '~foundation-sites/scss/foundation.scss';
@include foundation-everything;
@include foundation-flex-grid; // Remove this if you want the regular float grid

// the self-defined variables for better maintance
@import "./variables.scss";
// stylesheet for other pages
@import "./cluster.scss";
@import "./analysis.scss";

/** GLOBALS **/
@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis-Regular.ttf);
}
@font-face {
  font-family: RobotoCondense;
  src: url(../fonts/RobotoCondensed-Light.ttf);
}

@font-face {
  font-family: FjallaOne;
  src: url(../fonts/FjallaOne-Regular.ttf);
}

/* General Usage ---------------------------------------- */

.position-center {
  margin-left: auto !important;
  margin-right: auto !important;
}

// clear the default margin settings
.no-margin {
  margin: $r0px !important;
}

// text color
.text-white {
  color: $white;
}
.text-black {
  color: $black;
}

// hr style
.hr-white {
  border-top: $white $dft-hr-width solid;
}

// self-defined tags
.inline {
  display: inline-block;
}
.italic {
  font-style: italic
}
.bold {
  font-weight: bold;
}

// margins
.mg-top-5px {
  margin-top: $r5px;
}
.mg-top-50px {
  margin-top: $r50px;
}
.mg-top-51px {
  margin-top: $r50px;
}
.mg-top-52px {
  margin-top: $r52px;
}
.mg-top-54px {
  margin-top: $r54px;
}
.mg-top-55px {
  margin-top: $r55px;
}
.mg-bottom-5px {
  margin-bottom: $r5px !important;
}
.mg-bottom-10px {
  margin-bottom: $r10px;
}
.mg-bottom-15px {
  margin-bottom: $r15px;
}
.mg-left-2px {
  margin-left: $r2px;
}
.mg-right-2px {
  margin-right: $r2px;
}

// paddings
.pd-top-50px {
  padding-top: $r50px;
}
.pd-bottom-5px {
  padding-bottom: $r5px;
}
.pd-bottom-15px {
  padding-bottom: $r15px;
}
.pd-left-10px {
  padding-left: $r10px;
}
.pd-left-15px {
  padding-left: $r15px;
}
.pd-right-10px {
  padding-right: $r10px;
}
.pd-right-15px {
  padding-right: $r15px;
}

// to disable the Bootstrap max-width settings
.max-w-100p {
  max-width: 100% !important;
}
// to disable the Bootstrap margin settings
.mg-lr-0px {
  margin-left: $r0px !important;
  margin-right: $r0px !important;
}
.mg-bottom-0px {
  margin-bottom: $r0px !important;
}

// to disable the Bootstrap padding settings
.pd-lr-0px {
  padding-left: $r0px !important;
  padding-right: $r0px !important;
}
.no-padding {
  padding: $r0px !important;
}

// "m" stands fro minus
.zindex-m1 {
  z-index: -1;
}
/* ---------------------------------------- General Usage */

/* General Components ----------------------------------- */

.facebook {
  color: $facebook;
}
.facebook-light {
  color: $facebook-light;
}

html, body {
  // color: $black;

  width: $dft-range;
  height: $dft-range;
}

body > div {
  width: $dft-range;
  height: $dft-range;

  margin: $r0px !important;
  padding: $r0px !important;
}

.my-container {
  width: $dft-range;
  height: $p100;

  padding-top: $dft-comp-h;
  margin-left: auto !important;
  margin-right: auto !important;
  // padding-top: $dft-cont-padding;
  // padding-left: $dft-cont-padding;
  // padding-right: $dft-cont-padding;

  font-family: RobotoCondense;
}

.top-bar {
  position: fixed;
  top: $r0px;
  left: $r0px;
  z-index: 2000;

  width: $p100;
  height: $dft-comp-h;

  font-family: RobotoCondense;
}
.top-bar-left {
  height: $dft-comp-h;
}
.top-bar {
  background: $black-0p8;
}
.top-bar ul, .top-bar-left, .top-bar-right
{
  background: none;
}
.top-bar ul {
  padding-left: $r15px;
}

.menu {
  height: $dft-comp-h;
}
.menu-text {
  font-size: 1.5em;
}
.menu-text, .dropdown.menu a {
  color: $white !important;
  font-weight: bold;
  text-decoration: none;
}
.dropdown.menu a
{
  padding: 1rem 0.7rem !important;
  font-size: 1.2em;
  // line-height: $dft-comp-h;
}

#navlink-list a:hover
{
  background: $facebook;
  // color: $black-0p8 !important;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* ----------------------------------- General Components */

/* Debug ------------------------------------------------ */
.debug {
  border: $red $dft-border-width solid;
}

/* ------------------------------------------------ Debug */