
// stylesheet for Cluster page

#cl-ctrl-conatiner {
  padding: $dft-cont-padding;
}

/* style for canvas ---------------------------------------- */
#cluster-container {
  height: $p90;
}

#cl-graph-container {
  // border: $red $dft-border-width solid;

  width: $p100;
  height: $p100;
}
/* ---------------------------------------- style for canvas */


/* style for timeslider panel ------------------------------ */
#cl-time-container {
  position: fixed;
  left: $r0px;
  right: $r0px;
  bottom: -190px;
  height: $r230px;
  width: $p95;
  // width: $p100;

  // background-color: $black_0p5;
  background-color: $black_0p8;
  // color: $white;
  color: $black_0p8;

  border-top-left-radius: $dft-border-radius;
  border-top-right-radius: $dft-border-radius;

  // padding-left: $dft-cont-padding;
  // padding-right: $dft-cont-padding;
}

#cl-zoomer-title {
  color: $white;
  font-weight: bold;

  margin-top: $dft-margin;
}

#cl-slider-zoom {
  margin-bottom: $r10px;
}

#cl-time-charts {
    padding: $r10px;
}

#cl-ts-canvas {
  width: $dft-range;
  text-align: center;
}
.cl-time-chart {
    display: inline-block;
    // height: 151px;
    // margin-bottom: 20px;
    height: $r150px;
    margin-bottom: $r20px;
}

#cl-ts-title {
  color: $white;
  font-weight: bold;

  padding: $dft-cont-padding;

  background: $facebook;

  border-top-left-radius: $dft-border-radius;
  border-top-right-radius: $dft-border-radius;

  border-bottom: $white $dft-border-width solid;
}
#cl-ts-title:hover {
  background: $black_0p5;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.cl-ts-reset {
    padding-left: $r20px;
    // font-size: smaller;
    color: steelblue;
}
.cl-data-stats {
  // font-size: smaller;
  // margin-top: $dft-margin;
  width: $dft-range;
  color: $white;
}

.background.bar {
    // fill: #ccc;
    // fill: $black_0p8;
    fill: $white;
}

.foreground.bar {
    fill: $facebook;
}

.brush-handle
{
    fill: $dft-brush-fill;
    stroke: $dft-brush-stroke;
}

.cl-ts-axis > path, .cl-ts-axis > g > line {
  stroke: $white;
  // stroke: $black_0p8;
} 
.cl-ts-axis > g > text {
  fill: $white;
  font-family: RobotoCondense;
  // fill: $black_0p8;
}
/* ------------------------------ style for timeslider panel */