
// general colors
$red: #f00;
$danger: #dc3545;
$green: #0f0;
$blue: #00f;
$white: #fff;
$white_0p8: rgba( 255, 255, 255, 0.8 );
$black: #333;
$black_0p8: rgba( 0, 0, 0, 0.8 );
$black_0p5: rgba( 0, 0, 0, 0.5 );
$grey2: #ccc;
$grey3: #eee;
$grey4: #e6e6e6;
$hover: #CFCFCF;
$facebook: #3b5998;
$facebook-light: #8b9dc3;

// general usage
$dft-hr-width: 2px;
$dft-outline-width: 2px;
// "cont" stands for content
$dft-cont-padding: 10px;
$dft-text-padding: 5px;
$dft-margin: 10px;
$dft-margin-space: 15px;
$dft-range: 100%;
$dft-border-width: 2px;
$dft-border-radius: 10px;
$dft-heading-txt-size: 1.3em;
// "comp" stands for component
$dft-comp-heading-txt-size: 1.1em;

$dft-brush-fill: #eee;
$dft-brush-stroke: #666;

$dft-comp-h: 52px;

// "p" stands for percent
$p20: 20%;
$p25: 25%;
$p30: 30%;
$p50: 50%;
$p60: 60%;
$p70: 70%;
$p80: 80%;
$p90: 90%;
$p95: 95%;
$p100: 100%;

// "r" stands for range
$r0px: 0px;
$r2px: 2px;
$r3px: 3px;
$r5px: 5px;
$r10px: 10px;
$r15px: 15px;
$r20px: 20px;
$r25px: 25px;
$r30px: 30px;
$r40px: 40px;
$r50px: 50px;
$r51px: 51px;
$r52px: 52px;
$r54px: 54px;
$r55px: 55px;
$r60px: 60px;
$r70px: 70px;
$r80px: 80px;
$r90px: 90px;
$r100px: 100px;
$r120px: 120px;
$r150px: 150px;
$r180px: 180px;
$r200px: 200px;
$r230px: 230px;
$r250px: 250px;

// "e" stands for em, "p" stands for point, ex 1p5 = 1.5
$e1p0: 1.0em;
$e1p2: 1.2em;
$e1p3: 1.3em;
$e1p5: 1.5em;
$e1p8: 1.8em;
$e2p0: 2.0em;
